.bd-addon-card.settings-closed {
  background : rgba(0,0,0,.6);
}

.bd-addon-header {
  background : rgba(0,0,0,.7)!important;
}

.container-1giJp5>.flex-1O1GKY,
.container-3baos1>.flex-1O1GKY {
  background : 0 0;
}

.perksModal-fSYqOq.auto-Ge5KZx.scrollerBase-289Jih {
  margin        : var(--general-margin);
  border-radius : 15px;
  background    : var(--panels-opacity)!important;
}

.notice-3bPHh-.noticeWrapper-8z511t {
  margin-bottom : 5px;
  border-radius : 8px!important;
}

.scroller-9moviB.auto-Ge5KZx.scrollerBase-289Jih {
  border-radius : 10px;
  background    : var(--panels-opacity);
}

foreignobject[mask] {
  -webkit-border-radius : 20%;
  border-radius         : 20%;
  mask                  : url();
}

.avatar-1BDn8e,
.avatar-3bWpYy,
.avatar-3tNQiO.avatarSmall-1PJoGO {
  border-radius : var(--avatar-roundness)!important;
}

.live-vBWnV6 {
  border-radius : 5%;
}

.scroller-11cdZM.thin-1ybCId.scrollerBase-289Jih,
.wrapper-2qzCYF.fullScreen-1tMzXY.video--KPXCT,
.wrapper-2qzCYF.noChat-18KtBD.video--KPXCT {
  border-radius : 10px;
  background    : var(--panels-opacity);
}

.tile-kezkfV:hover {
  transform : scale(.95);
}

.layout-2DM8Md:after,
.selectorSelected-1_M1WV {
  background      : linear-gradient(
                      50deg,
                      var(--main-color),
                      white,
                      var(--main-color)
                    );
  background-size : 600% 600%!important;
  animation       : gradientAnimation 2s ease infinite!important;
}

@keyframes gradientAnimation {
  0% {
    background-position : 0% 50%;
  }

  50% {
    background-position : 100% 51%;
  }

  100% {
    background-position : 0% 50%;
  }
}

.wanderingCubesItem-WPXqao:first-child {
  background-image    : var(--loading-gif);
  background-position : center;
  background-size     : auto;
}

.wanderingCubesItem-WPXqao:after,
.wanderingCubesItem-WPXqao:before,
.wanderingCubesItem-WPXqao:last-child {
  display : none;
}

.inner-1gJC7_ {
  width  : 500px;
  height : 300px;
}

div[aria-label*="Pinned Messages"]>.messagesPopoutWrap-1MQ1bW,
div[aria-label*="Recent Mentions"] {
  border-radius : 15px;
}

div[aria-label*="Pinned Messages"]>div>.header-ykumBX {
  background : var(--main-color);
  text-align : center;
}

.guilds-1SWlCJ [class*=expandedFolderBackground] {
  bottom     : 0;
  background : rgba(0,0,0,.3);
}

.expandedFolderBackground-2sPsd- {
  bottom : 0;
}

.app,
.app-2rEoOp {
  margin        : var(--general-margin);
  overflow      : hidden;
  border-radius : 6px;
}

.app-1q1i1E {
  background            : var(--background-image);
  background-attachment : fixed;
  background-position   : center;
  background-size       : cover;
}

.layer-3QrUeG[aria-label=CHANNEL_SETTINGS],
.layer-3QrUeG[aria-label=GUILD_SETTINGS],
.layer-3QrUeG[aria-label=USER_SETTINGS] {
  background : var(--panels-opacity);
}

.container-19hC9u.scroller-1IIF0A.stickyScroller-24zUyY.auto-Ge5KZx.scrollerBase-289Jih,
.scroller-2XE8rp.auto-Ge5KZx.scrollerBase-289Jih {
  background : var(--panels-opacity);
}

#friends,
.activityFeed-28jde9,
.applicationStore-1pNvnv,
.chat-3bRxxu,
.container-3gCOGc,
.gameLibrary-TTDw4Y {
  border-radius : 10px;
}

.noticeDefault-362Ko2 {
  margin-bottom : 10px;
}

.wrapper-2qzCYF.minimum-28Z35l {
  background : var(--panels-opacity);
}

.root-217Brm,
.wrapper-2qzCYF {
  margin-bottom : 10px;
  border-radius : 15px;
}

.title-3qD0b-.container-1r6BKw {
  margin-bottom : 10px;
  border-radius : 15px;
  background    : var(--panels-opacity)!important;
}

.newMessagesBar-mujexs {
  margin-top : 20px;
  transition : all .15s ease-in-out;
}

.guilds-1SWlCJ,
.wrapper-1Rf91z {
  border     : 0!important;
  background : 0 0!important;
  box-shadow : 0 0!important;
}

.sidebar-2K8pFh,
.sidebar-2K8pFh.hasNotice-1XRy4h {
  margin-right  : 20px;
  border-radius : 10px!important;
  background    : 0 0!important;
}

.activityPanel-28dQGo.panel-24C3ux,
.container-1giJp5,
.container-3w7J-x,
.listeningAlong-30wH70,
.privateChannels-1nO12o {
  margin-bottom : 10px;
  border-radius : 10px;
  background    : var(--panels-opacity)!important;
}

.withTimeline-824fT_.container-6sXIoE {
  margin-bottom : 10px;
  border        : 0;
  border-radius : 10px;
  background    : var(--panels-opacity);
}

.container-6sXIoE,
.cover-SwJ-ck {
  border-radius : 10px 10px 0 0;
}

.container-3baos1 {
  margin-bottom  : 0;
  padding-bottom : 5px;
  border-radius  : 10px;
  background     : var(--panels-opacity);
}

.container-3baos1::after,
.container-3baos1::before {
  margin-bottom : 10px;
}

.chatContent-a9vAAp {
  border-radius : 10px!important;
  background    : var(--panels-opacity)!important;
}

.members-1998pB.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2>div>h2 {
  visibility : hidden;
  height     : 0;
  padding    : 0;
  transition : all .3s ease-out;
}

.members-1998pB.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2:hover>div>h2 {
  display         : flex;
  visibility      : visible;
  height          : 40px;
  padding-top     : 20px;
  padding-right   : 8px;
  padding-left    : 16px;
  color           : var(--main-color);
  opacity         : .85;
  text-align      : center;
  align-items     : center;
  font-size       : 11px;
  font-weight     : 700;
  justify-content : center;
  transition      : all .3s ease-in;
}

.membersWrap-2h-GB4 {
  left          : 181px;
  margin-left   : -175px;
  border-radius : 10px!important;
  background    : var(--panels-opacity);
  transition    : .3s all ease-in;
}

.members-1998pB {
  border-radius : 10px;
}

.membersWrap-2h-GB4:hover {
  left          : 0;
  border-radius : 10px!important;
  background    : rgba(0,0,0,.9);
  transition    : .3s all ease-out;
}

.iconWrapper-2OrFZ1[aria-label="Member List"] {
  display : none;
}

.searchResultsWrap-3-pOjs {
  margin-left   : 20px;
  border-radius : 10px;
}

.container-1r6BKw.themed-ANHk51 {
  margin-bottom : 10px;
  border-radius : 10px!important;
  background    : var(--panels-opacity);
}

.peopleColumn-29fq28 {
  margin-right          : 10px;
  border-radius         : 10px!important;
  background            : var(--panels-opacity);
  background-attachment : fixed;
  background-position   : center;
  background-size       : cover;
}

.nowPlayingColumn-2sl4cE {
  border-radius         : 10px!important;
  background            : var(--panels-opacity);
  background-attachment : fixed;
  background-position   : center;
  background-size       : cover;
}

.inner-1ilYF7 {
  border-radius : 10px;
  box-shadow    : 0 8px 15px rgba(255,255,255,.3);
}

.bd-scroller-wrap.bd-description-wrap.bda-description-wrap.scroller-wrap.fade {
  color : #fff;
}

#popout_1591 div div header {
  border-radius : 15px 15px 0 0!important;
}

#popout_1591 div div section {
  border-radius : 0 0 15px 15px!important;
}

.container-2x5lvQ {
  width      : 240px;
  box-shadow : none;
}

.container-2x5lvQ>section {
  background : rgba(0,0,0,.9)!important;
}

.container-2x5lvQ section p:nth-of-type(1) {
  font-size : 0;
}

.container-2x5lvQ section p:nth-of-type(2) {
  display : none;
}

.container-2x5lvQ section strong {
  font-size   : 14px;
  white-space : pre;
}

.container-2x5lvQ section strong::before {
  font-weight : 400;
}

.container-2x5lvQ section strong:nth-of-type(1)::before {
  content : 'Server:';
}

.container-2x5lvQ section strong:nth-of-type(2)::before {
  content : 'Average Ping:';
}

.container-2x5lvQ section strong:nth-of-type(3)::before {
  content : ' Last Ping:';
}

.container-2x5lvQ section strong:nth-of-type(4)::before {
  content : 'Packet Loss:';
}
